<div id="shortOrder{{id}}">
    <section id="order{{id}}" class="{{strings.[1]}}Section">
        <div class="row background {{strings.[1]}}">

            <div class="columnonebackground">
                <p>{{date}}</p>
            </div>
            <div class="columntwo">
                <p>№ {{orderNumber}}</p>
            </div>
            <div class="columnthree">

                <div style="vertical-align: middle"><img src="{{strings.[2]}}"/> {{strings.[0]}}

                    <img class="openCloseIcon" id="arroworder<%= id %>"
                         src="{{setArrowImage display}}" align="right"/></div>
            </div>
        </div>
    </section>
</div>
<div id="fullOrder{{id}}">

</div>