<div class="selected-order-row dotted-border">
    <div class="items-col-content">

        <div class="item-info">
            <img src="{{pictureUrl}}"/>

            <div class="is-item-book">{{#if isBook}}<img
                    src="images/book-icon.png"/>{{/if}}</div>
            <div class="book-info">
                <span style="color: #446699;">{{title}}</span>
                <span>{{author}}</span><br/>
                {{#ifCond discount 0}}
                    <span style="color: #999999;"><strike>{{price}} {{currency}}.</strike></span><br/>
                {{/ifCond}}
                <span style="color: #f15e00;"><b>{{priceWithDiscount}} {{currency}}</b></span></div>
        </div>
    </div>
    <div class="number-col-content">
        <span>{{count}}</span>
    </div>
    <div class="price-col-content">
        <div class="book-price">

            <b><span
                    style="color: #f15e00;">{{priceWithDiscount}} {{currency}}.</span></b>
        </div>
    </div>
</div>