<div class="selectedOrderRow dottedBorder">
    <div class="itemsColContent">

        <div class="itemInfo">
            <img src="{{pictureUrl}}"/>

            <div class="isItemBook">{{#if isBook}}<img
                    src="images/book-icon.png"/>{{/if}}</div>
            <div class="bookInfo">
                <span style="color: #446699;">{{title}}</span>
                <span>{{author}}</span><br/>
                {{#ifCond discount 0}}
                    <span style="color: #999999;"><strike>{{price}} {{currency}}.</strike></span><br/>
                {{/ifCond}}
                <span style="color: #f15e00;"><b>{{priceWithDiscount}} {{currency}}</b></span></div>
        </div>
    </div>
    <div class="numberColContent">
        <span>{{count}}</span>
    </div>
    <div class="priceColContent">
        <div class="bookPrice">

            <b><span
                    style="color: #f15e00;">{{priceWithDiscount}} {{currency}}.</span></b>
        </div>
    </div>
</div>