<section id="order{{id}}" class="{{strings.[1]}}Section">
    <div class="row background {{strings.[1]}}">

        <div class="column-one-background">
            <p>{{date}}</p>
        </div>
        <div class="column-two">
            <p>№ {{orderNumber}}</p>
        </div>
        <div class="column-three">

            <div><img src="{{strings.[2]}}"/> {{strings.[0]}}

                <img class="openCloseIcon" id="arroworder<%= id %>"
                     src="{{setArrowImage display}}" align="right"/></div>
        </div>
    </div>
</section>

<section id="fullorder{{id}}" class="full-order-info" style="display: {{display}};">
    <div class="clear15"></div>
    <div class="order-information">
        <div class="order-info-field">
            Имя получателя: <br/>
            Электронная почта: <br/>
            Доставка: <br/>
            Оплата: <br/>
        </div>
        <div class="order-info-field-values left">{{name}}<br/>
            {{telephone}}<br/>
            {{strings.[3]}}. {{address}}<br/>
            {{strings.[4]}}
            <br/>
        </div>
    </div>
    <div class="clear20"></div>

    <div class="selected-order-row">
        <div class="items-col">
            <p>Товары в заказе</p>
        </div>
        <div class="number-col">
            <p>Колличество</p>
        </div>
        <div class="price-col">
            <div>Цена</div>
        </div>
    </div>


    <div id="items-list-{{id}}">

    </div>

    <div class="clear"></div>
    <div class="order-information">
        <div>Доставка: <span
                style="color: #f15e00;"><b>{{priceDelivery}}
            {{currency}}.</b></span>
        </div>
    </div>

    <div class="clear20-border"></div>

    <div class="selected-order-row">
        <div class="items-col-content bonuses">
                <span><b>+{{receivedBonuses}}
                    бонусов</b> за этот заказ</span>
        </div>
        <div class="number-col-content">

        </div>
        <div class="price-col-content order-summary">
            Сумма заказа: <span style="color: #f15e00;"><b>{{summary}} {{currency}}.</b></span>
        </div>
    </div>

    <div class="clear20-50"></div>

</section>
